In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [364]:
df = pd.read_csv('movie_bd_v5.csv')
df.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
556,tt0252501,31000000,24185781,Hearts in Atlantis,Anthony Hopkins|Anton Yelchin|Hope Davis|Mika ...,Scott Hicks,What if one of life's great mysteries moved in...,A widowed mother and her son change when a mys...,101,Drama|Mystery,Castle Rock Entertainment,9/7/2001,6.3,2001
53,tt2717822,70000000,17752940,Blackhat,Chris Hemsworth|Leehom Wang|Tang Wei|Viola Dav...,Michael Mann,We are no longer in control.,A man is released from prison to help American...,133,Mystery|Crime|Action|Thriller|Drama,Universal Pictures|Forward Pass|Legendary Pict...,1/13/2015,5.0,2015
275,tt1127180,30000000,90842646,Drag Me to Hell,Alison Lohman|Justin Long|Lorna Raver|Dileep R...,Sam Raimi,"Christine Brown has a good job, a great boyfri...",After denying a woman the extension she needs ...,99,Horror|Thriller,Universal Pictures|Ghost House Pictures|Mandat...,3/15/2009,6.1,2009
1468,tt0410297,40000000,114830111,The Lake House,Keanu Reeves|Sandra Bullock|Shohreh Aghdashloo...,Alejandro Agresti,How do you hold on to someone you've never met?,A lonely doctor who once occupied an unusual l...,99,Romance|Drama|Mystery,Village Roadshow Pictures|Vertigo Entertainmen...,6/16/2006,6.3,2006
250,tt0409459,130000000,185258983,Watchmen,Malin Ã…kerman|Billy Crudup|Carla Gugino|Jeffr...,Zack Snyder,Justice is coming to all of us. No matter wha...,In a gritty and alternate 1985 the glory days ...,162,Action|Mystery|Science Fiction,Paramount Pictures|DC Comics|Lawrence Gordon P...,3/5/2009,6.8,2009

In [365]:
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [471]:
answers = {'Ответ №':[5,2,3,2,1,5,5,1,4,5,3,1,5,3,3,3,2,1,5,1,4,2,5,5,3,1,5],'Полный ответ':['Pirates of the Caribbean: On Stranger Tides (tt1298650)','Gods and Generals (tt0279111)','Winnie the Pooh (tt1449283)',110,107,'Avatar (tt0499549)','The Lone Ranger (tt1210819)',1478,'The Dark Knight (tt0468569)','The Lone Ranger (tt1210819)','Drama','Drama','Peter Jackson','Robert Rodriguez','Chris Hemsworth','Matt Damon','Action','K-19: The Widowmaker (tt0267626)',2015,2014,'Сентябрь',450,'Peter Jackson','Four By Two Productions','Midnight Picture Show','Inside Out, The Dark Knight, 12 Years a Slave','Daniel Radcliffe & Rupert Grint '],'Верный ли ответ':['+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+','+']} 
answers = pd.DataFrame(answers, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27])
# создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [472]:
answers

    Ответ №                                       Полный ответ Верный ли ответ
1         5  Pirates of the Caribbean: On Stranger Tides (t...               +
2         2                      Gods and Generals (tt0279111)               +
3         3                        Winnie the Pooh (tt1449283)               +
4         2                                                110               +
5         1                                                107               +
6         5                                 Avatar (tt0499549)               +
7         5                        The Lone Ranger (tt1210819)               +
8         1                                               1478               +
9         4                        The Dark Knight (tt0468569)               +
10        5                        The Lone Ranger (tt1210819)               +
11        3                                              Drama               +
12        1                                              Drama               +
13        5                                      Peter Jackson               +
14        3                                   Robert Rodriguez               +
15        3                                    Chris Hemsworth               +
16        3                                         Matt Damon               +
17        2                                             Action               +
18        1                   K-19: The Widowmaker (tt0267626)               +
19        5                                               2015               +
20        1                                               2014               +
21        4                                           Сентябрь               +
22        2                                                450               +
23        5                                      Peter Jackson               +
24        5                            Four By Two Productions               +
25        3                              Midnight Picture Show               +
26        1      Inside Out, The Dark Knight, 12 Years a Slave               +
27        5                   Daniel Radcliffe & Rupert Grint                +

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [366]:
df.isna().sum()

imdb_id                 0
budget                  0
revenue                 0
original_title          0
cast                    0
director                0
tagline                 0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_average            0
release_year            0
dtype: int64

In [367]:
dfc = df.copy(deep=True)
dfc.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015

In [237]:
df['profit']= df.revenue - df.budget
df.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [238]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [239]:
# тут пишем ваш код для решения данного вопроса:
df.loc[df['budget'].idxmax()]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [240]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [241]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [242]:
df.loc[df['runtime'].idxmax()]['original_title']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [243]:
df.loc[df['runtime'].idxmin()]['original_title']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [244]:
df.agg('mean')['runtime'].round(0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [245]:
df.agg('median')['runtime']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [246]:
# лучше код получения столбца profit вынести в Предобработку что в начале
df.loc[df['profit'].idxmax()]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [247]:
df.loc[df['profit'].idxmin()]['original_title']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [248]:
df1 = df.loc[df.revenue> df.budget]
len(df1)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [249]:
df2 = df[df.release_year == 2008].sort_values(['profit'],ascending=False).head(1)
df2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [250]:
df2 = df[(df.release_year >2011)&(df.release_year <2015)].sort_values(['profit'], ascending=True).head(1)
df2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [251]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

new_df = df['genres'].str.split('|',expand=True).stack().value_counts()
new_df.head(3)

Drama       782
Comedy      683
Thriller    596
dtype: int64

ВАРИАНТ 2

In [252]:
more_genres = df[['genres']]
more_genres.genres = more_genres.genres.apply(lambda s:s.split('|'))
more_genres_explode = more_genres.explode('genres')
more_genres_explode.stack().value_counts().head(2)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Drama     782
Comedy    683
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [253]:
data3 = df[df.profit >0]
new_df3 = data3['genres'].str.split('|',expand=True).stack().value_counts()
new_df3.head(3)

Drama       560
Comedy      551
Thriller    446
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [254]:
grouped_df = df.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(grouped_df.head(3))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [255]:
grouped1 = df[df.genres.str.contains("Action", na=False)]
grouped2 = grouped1['director'].str.split('|',expand=True).stack().value_counts()
grouped2

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Eli Roth              1
Shane Acker           1
John Stockwell        1
Rod Lurie             1
Kerry Conran          1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [256]:
data_sub = df[df.release_year == 2012][['cast', 'revenue']]
data_sub.cast = data_sub.cast.apply(lambda s: s.split('|'))
data_sub_exploded = data_sub.explode('cast')
data_sub_exploded.groupby(by = 'cast').revenue.sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [257]:
df161 = df
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
sum_gen = counter(df161[df161['budget'] > df161['budget'].mean()], 'cast')
sum_gen

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Sarah Jane Morris     1
Collin Chou           1
Paul Sanchez          1
Thomas Jane           1
Shawn Wayans          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [258]:
df17 = df[df.cast.str.contains('Nicolas Cage', na=False)]
df17.cast = df17['cast'].str.split('|',expand=True)
df17.genres = df17['genres'].str.split('|',expand=True)
df17.genres.value_counts()

Action       9
Adventure    3
Drama        3
Fantasy      3
Comedy       3
Thriller     3
Crime        2
Animation    1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [259]:
df18 = df[df.production_companies.str.contains('Paramount Pictures', na=False)]
df18.production_companies = df17['production_companies'].str.split('|',expand=True)
df18.loc[df18['profit'].idxmin()]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [284]:
df19 = df[['release_year', 'revenue']]
df19.groupby(by = 'release_year').revenue.sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [342]:
df20 = df[df.production_companies.str.contains('Warner', na=False)]
df201 = df20[['release_year', 'profit']]
df201.groupby(by = 'release_year').profit.sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [385]:
df212 = df[['release_date', 'original_title']]
df212['release_date'] = pd.to_datetime(df212['release_date'])
df212['release_date'] = df212.release_date
df212.release_date.dt.month.value_counts().head(2)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

9     227
12    190
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [396]:
df22 = df212
df221 = df22[df22.release_date.dt.month.isin([6, 7, 8,])]
df221.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   release_date    450 non-null    datetime64[ns]
 1   original_title  450 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 10.5+ KB

# 23. Для какого режиссера зима – самое продуктивное время года?

In [435]:
df['release_date'] = df22['release_date']
df231 = df[['director', 'release_date']]
df2312 = df231
df23121 = df2312[df2312.release_date.dt.month.isin([12, 1, 2,])]
df23121.director.value_counts().head(2)

Peter Jackson     7
Clint Eastwood    6
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [440]:
df['lenght'] = df.original_title.map(lambda x: len(x))
df24 = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack()
df24 = df24.value_counts(ascending=False)
df24 = pd.DataFrame(df24)
df24.columns = ['lenght']
for i in df24.index:
    df24.lenght[i] = df[df['production_companies'].map(lambda x: True if i in x else False)].lenght.mean()
df24.sort_values(ascending=False, by = 'lenght')

                            lenght
Four By Two Productions         83
Jim Henson Company, The         59
Dos Corazones                   47
Museum Canada Productions       46
Polsky Films                    46
...                            ...
Everest Entertainment            3
Berlanti Productions             3
Global Entertainment Group       2
Ixtlan Productions               2
XM2 Productions                  2

[1771 rows x 1 columns]

In [447]:
#вариант 2
df241 = df
df241['totalwords'] = df['original_title'].str.split().str.len()
df241.sort_values(ascending=False, by = 'totalwords').head(1)
df241.iloc[1448][10].split('|')

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [458]:
df251 = df
df251['totalwordsover'] = df['overview'].str.split().str.len()
df251.sort_values(ascending=False, by = 'totalwordsover')
df251.iloc[711][10].split('|')

['Lions Gate Films',
 'Lakeshore Entertainment',
 'GreeneStreet Films',
 'Midnight Picture Show']

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [460]:
df26 = df
df26.quantile(0.99, numeric_only=True)['vote_average']
df26[['original_title','vote_average']].sort_values('vote_average',ascending = False).head(int(len(df26['vote_average'])*0.01))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [466]:
from itertools import combinations
actor_list = df.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Kristen Stewart Robert Pattinson    5
Adam Sandler Kevin James            5
Name: actor_combinations, dtype: int64

# Submission

In [473]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

    Ответ №                                       Полный ответ Верный ли ответ
1         5  Pirates of the Caribbean: On Stranger Tides (t...               +
2         2                      Gods and Generals (tt0279111)               +
3         3                        Winnie the Pooh (tt1449283)               +
4         2                                                110               +
5         1                                                107               +
6         5                                 Avatar (tt0499549)               +
7         5                        The Lone Ranger (tt1210819)               +
8         1                                               1478               +
9         4                        The Dark Knight (tt0468569)               +
10        5                        The Lone Ranger (tt1210819)               +
11        3                                              Drama               +
12        1                                              Drama               +
13        5                                      Peter Jackson               +
14        3                                   Robert Rodriguez               +
15        3                                    Chris Hemsworth               +
16        3                                         Matt Damon               +
17        2                                             Action               +
18        1                   K-19: The Widowmaker (tt0267626)               +
19        5                                               2015               +
20        1                                               2014               +
21        4                                           Сентябрь               +
22        2                                                450               +
23        5                                      Peter Jackson               +
24        5                            Four By Two Productions               +
25        3                              Midnight Picture Show               +
26        1      Inside Out, The Dark Knight, 12 Years a Slave               +
27        5                   Daniel Radcliffe & Rupert Grint                +

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)